html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-repeat: no-repeat;
}

body, a {
  color: #fff;
}

a {
  text-decoration: none;
}

.btn-ghost {
  color: #fff;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 4px;
  padding: 6px;
}

.btn:hover {
  background-color: #fff;
  border-color: rgba(255, 255, 255, .5);
  color: #ff5e3a;
}

li {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 38em) {

  ul {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  li {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

}

@media only screen and (min-width: 60em) {

  li {
    border-bottom: 0;
    border-right: 3px solid #fff;
  }

}
