html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-repeat: no-repeat;
}

body, a {
  color: #fff;
}

a {
  text-decoration: none;
}

.btn-ghost {
  color: #fff;
  border: 3px solid;
  border-radius: 4px;
}

.btn:hover {
  background-color: #fff;
  border-color: rgba(255, 255, 255, 1);
  color: #ff5e3a;
}

.borderbottom {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.borderright {
  border-right: 1px solid #fff;
}

@media only screen and (min-width: 60em) {

  .borderbottom {
    border-bottom: 0px solid rgba(255, 255, 255, 1);
  }

  .borderright {
    border-right: 3px solid rgba(255, 255, 255, 1);
  }

}
